
.imagem-fundo-div {
    position: relative;
    width: 199.9vh;
    height: 100vh;
    margin-left: -304.9px;
    margin-top: -71px;
    padding: 0;
    overflow: hidden;
    z-index:-1;
}

.imagem-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.container-imagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

    .container-imagem h1 {
        font-size: 2.8rem;
        font-weight: 600;
        text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.8);
    }


.carros {
    margin-top: 0;
    padding: 80px 100px;
    text-align: left;
    background-color: #fff;
}

    .carros h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 40px;
        color: #000;
    }

.carros-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.carro-card {
    width: 23%;
    text-align: left;
}

    .carro-card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease;
    }

        .carro-card img:hover {
            transform: scale(1.05);
        }

    .carro-card h3 {
        font-size: 1.2rem;
        margin-top: 12px;
        margin-bottom: 8px;
        color: #000;
    }

    .carro-card p {
        font-size: 0.95rem;
        color: #555;
    }

.caracteristicas {
    background-color: #e5e7e8; /* cor cinza do fundo */
    width: 180vh;
    height: 60vh;
    margin-left: -211.9px;
    margin-top: 31px;
    display: flex;
    justify-content: center;
    align-items: center; /* centraliza verticalmente */
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px; /* espaçamento entre os cards */
    flex-wrap: nowrap; /* não quebra linha */
    max-width: 1600px;
    width: 90%;
}

.card {
    background-color: #fff;
    width: 350px;
    padding: 40px 25px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
}

    .card:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    }

.icon {
    font-size: 32px;
    color: #c62828; /* vermelho suave */
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #0a0a0a;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.95rem;
    color: #505050;
    line-height: 1.4rem;
}

/* 🔹 Responsividade: empilha os cards em telas menores */
@media (max-width: 1200px) {
    .card-container {
        flex-wrap: wrap;
        height: auto;
    }

    .card {
        width: 300px;
    }
}
