body {
    justify-content: center;
    align-items: center;
    background-image: url('../img/logo/chatgpt image 10 de set. de 2025, 16_42_16.png');
}

.login-title {
    text-align: center;
    color: blue;
    font-weight:bold;
    margin-bottom: 20px;
}

.login-form {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f4f4f4;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    box-sizing: border-box;
}

.btn-outline-success {
    background: #008300;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top:10px;
    cursor: pointer;
    width: 100%;
    transition: 0.1s color ease;
}

    .btn-outline-success:hover {
        background: #006400;
        transition: 0.5s color ease;
    }
