html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logo {
    width:50px;
    height: 50px;
    border-radius: 50%;
}

nav {
    background: #003399;
    color:white;
}

nav li {
    color:white;
}

.nav-item-1 {
    margin-left:20px;
}

a:hover {
    color: #bebebe;
    transition: 0.5s color ease;
}

nav-item, nav-item-1 {
    color: #bebebe;
    transition: 0.5s color ease;
}